.accountPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem;
    background-color: #3b3939;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh; /* full viewport height */
    width: 99vw; /* full viewport width */
    box-sizing: border-box;
}

.accountPageContainer h1,
.accountPageContainer h2 {
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
}

.usernameForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.usernameForm div {
    margin-bottom: 0.8rem;
}

.usernameForm label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: 500;
    color: #cfcfcf;
}

.usernameForm input[type="text"],
.usernameForm input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    font-size: 1rem;
}

.usernameForm input:disabled {
    background-color: #3a3a3a;
    color: #888;
}

.usernameForm button {
    padding: 0.6rem 1.2rem;
    background-color: #5e389a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}

.usernameForm button:hover {
    background-color: #3700b3;
}

.usernameForm button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

#errorMessage, #successMessage {
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
